// 字体样式
@font-face {
    font-family: "square";
    src: url('../fonts/HiraginoSans.otf')
}

@font-face {
    font-family: "ITCAvantGardeProBold";
    src: url('../fonts/ITCAvantGardeProBold.otf')
}

@font-face {
    font-family: "ITCAvantGardeProReg";
    src: url('../fonts/ITCAvantGardeProRegular.otf')
}

@logoImg: url('../img/logo.jpg') no-repeat;
@colorOne: #eaeaea;
@boxShadowOne: 0px 0px 20px 2px;